/* THESE ARE COLOR BACKGROUND OVERRIDES FOR BOOTSTRAP */
.success {
    background-color: #87bba2 !important;
}

.info {
    background-color: #55828b !important;
}

.danger {
    background-color: #c03221 !important;
}